/target
.tools/
**/.DS_Store
crates/seonbi-node/node_modules/
crates/seonbi-node/*.node
crates/seonbi-node/index.d.ts
crates/seonbi-node/index.js
crates/seonbi-node/package-lock.json
crates/seonbi-node/deno.lock
crates/seonbi-wasm/pkg/
crates/seonbi-python/.venv/
crates/seonbi-python/dist/
demo/node_modules/
demo/dist/
demo/.yarn/
